<%- include('./components/header.ejs') %>
<body >
    <%- include('./components/navbar.ejs') %>
    <img src="/img/error.jpg" class="rounded mx-auto d-block">
    <p style="text-align: center;">
        Contact me through linkedin or github, link at the bottom of the page. 
    </p>
</body>
<%- include('./components/footer.ejs') %>