
<%- include('./components/header.ejs') %>
<body >
    <%- include('./components/navbar.ejs') %>
    <img src="/img/error.jpg" class="rounded mx-auto d-block">
</body>
<%- include('./components/footer.ejs') %>