<ul class="nav nav-tabs navbar-light bg-primary">
  <a class="navbar-brand" href="#">
    <img src="/img/1.png" alt="" width="30" height="24">
  </a>
  <li class="nav-item">
    <a class="nav-link" style="color: aliceblue;" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" style="color: aliceblue;" href="/questions">To ask</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" style="color: aliceblue;" href="/about">About</a>
  </li>
</ul>