<%- include('../../components/header.ejs') %>
<%- include('../../components/navbar.ejs') %>

<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2>Category registration</h2>
        </div>
        <div class="card-body">
            <form method="POST" action="/categories/save">
                <input class="form-control" type="text" name="title" placeholder="Define a category title">
                <br>
                <button class="btn btn-primary">Send</button>
            </form>
        </div>
    </div>
</div>

<%- include('../../components/footer.ejs') %>